In [1]:
import pandas as pd

In [73]:
train = pd.read_csv('Data/capstone_train.csv')
test = pd.read_csv('Data/capstone_test.csv')
combined_data = pd.concat((train,test),axis =0).drop('Loan_ID',axis = 1)
combined_data.head()

,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender,Interest_Rate
0,"7,000",< 1 year,Rent,68000.0,not verified,car,18.37,0,NaN,9,14,Female,1.0
1,"30,000",4 years,Mortgage,NaN,VERIFIED - income,debt_consolidation,14.93,0,17.0,12,24,Female,3.0
2,"24,725",7 years,Mortgage,75566.4,VERIFIED - income source,debt_consolidation,15.88,0,NaN,12,16,Male,3.0
3,"16,000",< 1 year,NaN,56160.0,VERIFIED - income source,debt_consolidation,14.34,3,NaN,16,22,Male,3.0
4,"17,000",8 years,Own,96000.0,VERIFIED - income source,debt_consolidation,22.17,1,NaN,19,30,Female,1.0

In [74]:
def remove_punctuation(x):
    if len(x.split(','))>1:
        return int(x.split(',')[0]+x.split(',')[1])
    else:
        return int(x)
combined_data['Loan_Amount_Requested'] = combined_data['Loan_Amount_Requested'].apply(remove_punctuation)

In [75]:
data_cpy = combined_data.copy()

In [76]:
#Manually replacing categories with numbers to preserve nan and let KNNImputer fill them
import numpy as np

for i in combined_data.select_dtypes('object').columns:
    unique = combined_data[i].dropna().unique()
    d = dict(zip(unique,list(range(len(unique)))))
    data_cpy[i] = data_cpy[i].map(d)
#To reverse

for i in combined_data.select_dtypes('object').columns:
    unique = combined_data[i].dropna().unique()
    d = dict(zip(list(range(len(unique))),unique))
    #Apply the data after knn_imputer to get the categorical features again

In [77]:
train_cpy = data_cpy[~(data_cpy['Interest_Rate'].isna())]